awscli==1.11.19
boto==2.42.0
botocore==1.4.76
colorama==0.3.7
decorator==4.0.10
docutils==0.12
futures==3.0.5
ijson==2.3
inflection==0.3.1
jmespath==0.9.0
praw==3.5.0
pyasn1==0.1.9
python-dateutil==2.6.0
PyYAML==3.12
qds-sdk==1.9.4
requests==2.11.0
rsa==3.4.2
s3transfer==0.1.9
six==1.10.0
update-checker==0.11
urllib3==1.16
vboxapi==1.0
